.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 28px;
    margin: 10px
}
.bg-white{
    background-color: white;
}
.navbar{
   min-height: 80px;

}
.App-title {
    font-size: 1.5em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.custom-container {
    min-height: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    
}
.controls{
    position: relative;
    z-index: 3000;
    bottom: 135px;
    background-color: white;
}

.custom-p{
    padding: 0;
    margin: 0;
}
.drawing-canvas{
    background-color: rgb(46, 46, 46);
   border-right: #ffffff dashed 1px;
   border-left: #ffffff dashed 1px;
   width: 100%;
   min-height: 500px;

}
.gradient{
    background-image: -moz-linear-gradient(270deg, #2B32B2, #1488CC 100%);
    background-image: -webkit-linear-gradient(270deg, #2B32B2, #1488CC 100%);
    background-image: -ms-linear-gradient(270deg, #2B32B2, #1488CC 100%);
}
.horizontal-line {
    background-color: rgb(206, 206, 206);
}
.home-container{
    padding: 20px;
}
.buttom-margin{
    margin-bottom: 20px;
}

.custom-form {
    padding: 0;
    overflow: auto;
    /* background-color: rgb(46, 46, 46); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: center;
    align-items: center;
}


.img-thumbnail {
    margin: 20px;
    max-width: 50%;
}

.btn-custom {
    min-height: 60px;
    margin: 5px;
    border-radius: 0%;
}
.buttons-container{
    display: flex;
    align-items: center;
}
.buttons{
    margin:auto;
}
.btn-custom-color{
    color: white;
    background-image: -moz-linear-gradient(360deg, #2B32B2, #1488CC 50%);
    background-image: -webkit-linear-gradient(360deg, #2B32B2, #1488CC 50%);
    background-image: -ms-linear-gradient(360deg, #2B32B2, #1488CC 50%);
}

.btn-custom-color:hover {
    color: white;
    background-image: -moz-linear-gradient(120deg, #2B32B2, #1488CC 50%);
    background-image: -webkit-linear-gradient(120deg, #2B32B2, #1488CC 50%);
    background-image: -ms-linear-gradient(120deg, #2B32B2, #1488CC 50%);
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.prediction-container{
    min-height:60px;
    line-height: 60px;
    font-size: 20px;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    background-color: white;
}